
.container-agency {
  margin: 15px;
}

.card-agency {
  border: 1px solid #757D87;
  border-radius: 5px;
  background-color: white;
  margin: 0 15px;
}

.card-agency-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  height: 200px;
}

.card-agency-brand p {
  color: #757D87;
  margin-top: 0px;
  padding-bottom: 10px;
}

.card-agency-brand h2 {
  width: 100%;
  font-weight: bold;
  padding-top: 15px;
  margin-bottom: 0px;
}

.card-agency-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  h3 {
    margin-top: 0px;
  }
}

.card-agency-contactdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  p {
    margin: 0;
  }
}

.card-agency-map {
  height: 300px;
}

.card-agency-description {
  display: flex;
  flex-direction: column;
  height: 300px;
}


.card-agency-admin {
  width: 80%;
  margin-left: 50px;
}

.card-agency-owner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
}

.card-agency-director {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
}

.card-agency-contactperson {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
}

.card-agency-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
}

.card-agency-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
}

