.container-index-booking {
  padding: 0 15px;
  text-align: center;
  background-image: image-url("home.jpg");
  background-size: cover;
  height: 100vh;
  h3 {
  margin: 0;
  padding: 10px 0;
  }
}

table-index-bookings {
  width: 100%;
  margin: 20px auto;

}

th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.booking-created-at,
.booking-date
{
  width: 11%;
}

.booking-starting-time,
.booking-ending-time
{
  width: 7%;
}

.booking-service {
  width: 14%
}

.booking-status {
  width: 10%;
}

.booking-user {
  width: 14%;
}

.booking-address {
  width: 21%;
}

.booking-links {
  width: 5%;
}

.container-booking-show {
  text-align: center;
}

.wrapper-booking-show {
  border: 1px solid #ccc;
  margin: 0 50px 25px 50px;
  padding: 15px 0px;
  border-radius: 5px;
  hr {
    border-top: 1px solid #ccc;
    margin: 15px 15px;

  }
}
.booking-show-service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px 0;
}

.booking-show-activity {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.booking-show-service-picto {
  margin: 25px 0;
  padding: 25px;
  border: 2px solid #ccc;
  width: 150px;
}

