.container-service {
  display:block;
  justify-content: center;
  text-align: center;
}

.wrapper-card {
  border: 1px solid #757D87;
  background-color: #F4F4F4;
}

.card-service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid #757D87;
  border-radius: 5px;
  height: 252px;
  max-width: 500px;
  margin: 30px 50px;
}

.card-service-picto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 249px;
  width: 250px;
}

.card-service-picto img {
  height: 100px;
  width: 100px;
}

.card-service-activity {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9D141;
  height: 249px;
  width: 250px;
}

.card-service-details {
  width: 500px;
  margin: 10px 50px;

}

.card-service-agency {
  display: inline-flex;
  width: 100%;
}

.card-service-agency-text {
  width: 50%;
  text-align: left;
}

.card-service-agency-value {
  width: 50%;
  text-align: right;
  margin-right: 25px;
}

.card-service-price {
  display: inline-flex;
  width: 100%;
}

.card-service-price-text {
  width: 50%;
  text-align: left;
}

.card-service-price-value {
  width: 50%;
  text-align: right;
  margin-right: 25px;
}

#booking-button {
  width: 100px;
  font-weight: bold;
  border-radius: 25px;
  background-color: #F9D141;
}


