<div class="footer">
  <div class="footer-links">

    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-medium"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>

  </div>
  <div class="ben7x7">
    <p>Anna_v0 created and designed by ©ben7x7</p>
  </div>
</div>

